@font-face {
    font-family: chess;
    src: url(Fonts/merifont.ttf);
}

.chess-board { border-spacing: 0; margin: auto;}
.chess-board .light {background: #E1FAF9;}
.chess-board .dark {background: #277C82; touch-action: none;}
.chess-board th {color: #E1FAF9; padding-right: 0.5em;}
.chess-board td {
    width: 1.5em;
    height: 1.5em;    
    text-align: center;
    cursor: move;

    font-size: 7vmin;
    font-family: chess;

    /* Disable text selection for Safari, IE and others */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #294244;
}

.drag {
    position: absolute;
    width: 1.5em;
    height: 1.5em;    
    text-align: center;
    
    font-size: 7vmin;
    font-family: chess;
    /* font size needs to be the same as in chess-board */
    
    /* Make div not clickable */
    pointer-events:none;
    touch-action:none;

    /* Disable text selection for Safari, IE and others */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}