.chess-board { border-spacing: 0;}
.chess-board td {
    width: 2em;
    height: 2em;
    text-align: center;
    cursor: move;
    font-size: 46px;

    /* Disable text selection for Safari, IE and others */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chess-board .light {background: #E1FAF9;}
.chess-board .dark {background: #277C82;}

.drag {
    position: absolute;
    width: 2em;
    height: 2em; 
    text-align: center; 
    font-size: 46px;
    /* font size needs to be the same as chess-board */
}